/* style.css */

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#product-info {
    text-align: center;
}

#product-info p {
    margin-bottom: 10px;
}

.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("star.png");
    background-size: contain;
}

.rating label:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("star-fill.png");
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.rating label:hover:before,
.rating label:hover ~ label:before,
.rating input:checked ~ label:before {
    opacity: 1;
}

.star-fill {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('star-fill.png');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
